body {
    margin: 0;
    background-color: rgb(241, 239, 239);
}

.header-container {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.next-to-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.next-to-logo-container h1 {
    margin: 0;
    line-height: 1;
}

.header-container h1 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-size: 75px;
    font-style: normal;
    color: rgb(34, 34, 34);
    line-height: 1;
    padding-bottom: 10px;
}

.team-logo {
    height: 200px;
    width: 200px;
}

.table-container {
    display: flex;
    justify-content: center;
}

/* table stuff */
.table {
    width: 95%;
    border-collapse: collapse;
    border-spacing: 0;
}
.table th,
.table td {
    padding: 12px 15px;
    text-align: left;
    font-family: "Kanit", sans-serif;
}
.table th {
    background-color: rgb(34, 34, 34);
    border: 1px solid rgb(34, 34, 34);
    color: white;
    font-weight: bold;
}
.table tbody tr:nth-child(even) {
    background-color: #e4e4e4;
}
.table tbody tr {
    border-bottom: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
}
@media (max-width: 768px) {
    .table thead {
        display: none;
    }
    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }
    .table tr {
        margin-bottom: 15px;
    }
    .table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}

/* star icon stuff */
.star {
    height: 40px;
    width: 40px;
}

.star-holder {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-holder:hover {
    background-color: rgb(227, 227, 227);
    border-radius: 50%;
    cursor: pointer;
}

/* Favorite Bar */
.favorite-bar {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.favorite-logo {
    height: 40px;
    width: 40px;
}

.favorite-logo-container {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite-logo-container:hover {
    background-color: rgb(227, 227, 227);
    border-radius: 10px;
}